
dataset/alex/
dataset/
dataset/hugo/

dataset/not_hugo_alex/cfp-dataset/Data/Fiducials/001/frontal/

dataset/not_hugo_alex/cfp-dataset/Data/Fiducials/001/profile/

output/

hugo.jpg

hugo_not_hugo_28_25_32.model

__pycache__/

Resnet50_files/

HUGONETWORK

SAVED_MODEL_WORKING/HUGONETWORK2_224_25_1e-3_32_3000N.model

SAVED_MODEL_WORKING/HUGONETWORK_224_25_0.001_32_5000.model
